/*============ GERAL ============*/

body {
    margin: 0;
    font-family: 'arial';
    background-color: black;
    background:
    linear-gradient(-40deg,
    #6D6A67, #000000),no-repeat;
    background-size: 200%;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
    color: white;
}

/*============ CABEÇALHO ============*/

header {
    background-color: #ff8c00;
    padding: 10px 0;
}

h1 {
    margin: 10px 50px 0 0;

}

ul.principal {
    margin: 36px 0 0 0;
    padding: 0;
    list-style: none;
}

li.emLinha {
    display: inline;
    margin: 0 20px 0 0;
}

li.emLinha:last-child {
    margin: 0;
}

li.emLinha a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

li.emLinha a:hover {
    color: white;
    transition: color 0.3s;
}

li.emLinha a span {
    color: black;
    font-size: 14px;
    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

li.emLinha:hover a span {
    transform: rotate(-180deg);
    transition: transform 0.3s;
}

ul.oculto {
    visibility: hidden;
    position: absolute;
    background: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    list-style: none;
    padding: 5px 10px;
    margin-left: 60px;
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s ;

}

ul.oculto li {
    padding: 5px 0;
}

ul.oculto a {
    color: black;
}

li.emLinha:hover ul.oculto {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition: transform 0.3s, opacity 0.2s;
}

/*============ SEÇÃO 1 ============*/

div.blocoFigura {
    width: 25%;
    max-width: 270px;
    margin: 50px 10px 0 0;
    color: white;
    flex-shrink: 0;
}

div.blocoFigura:last-child {
    margin: 50px 0 0 0;
}

div.blocoFigura figure {
    margin: 0 0 0 0;
}

div.blocoFigura figure img {
    max-width: 100%;
     margin: 0  0 0;
}

p. {
    color: white;
}

div.blocoFigura h2 {
    margin: 5px 0 0 0;
    text-align: center; 
}

div.blocoFigura a {
    text-decoration: none;
    color: #ff8c00;
    opacity: 1;
    transition: opacity 0.2s;
}

div.blocoFigura a:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}

/*============ SEÇÃO 2 ============*/

.ms2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:50px;
    font-size: 36px;
    color:orange;
    
    
    
}

.s2h3 {
    margin: 0 auto;
    margin-left: 70px;
    font-size: 36px;

}
.s2h4 {
    margin: 0 auto;
    margin-left: 100px;
    font-size: 36px;

}

.NoticiasdosEsportes
{

    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 25px;

}

/*============ SEÇÃO 3 ============*/

article {
    width: 565px;
    margin-right: 22px;
    text-align: justify;
}

article:last-child {
    margin-right: 0;
}

/*============ RODAPÉ ============*/

    footer {
    background: #ff8c00;
    padding: 30px 0 ;
    margin-top: 20px ;
}

.divRodape {
    width: 270px;
    margin-right: 24px;
}

    .divRodape:last-child {
        margin-right: 0;
    }

    .divImagem {
        text-align: center;
    }

    .divImagem img {
        margin-bottom: 30px;
    }

    .divImagem img:last-child {
        margin-bottom: 0px;
    }

     .divRodapeImagem{
    margin-bottom: 36 px;
  }

     .divRodape {
    color: #000;
    margin: 0 0 30 px 0;
  }

  .divRodape p:last-child {
    margin: 0 0 0 0;
  }

.divRodape p.pLink {
    font-weight: bold;
    color: #000;
}

    .divRodape p.pMargem {
        margin-bottom: 5px;
    }

    .divRodape p:first-child {
        margin-top: 100px;
    }

    .divRodape p.pLink2 {
        margin-top: 60px;
    }

    .divSvg img {
        margin-right: 15px;
    }

    /*============ INTERNAS ============*/

    .interna {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .lul {
        color: #fff;
        width: 580px;
        text-align: justify;
        font-size: 20px;
        margin-bottom: 100px;
    }

    .lol {
        color: #;
    }

    .figuraLegenda {
        width: 552px;
        margin: 0;
    }

    .figuraLegenda img {
        max-width: 100%;
    }

    /*============ CONTATO ============*/

form {
    width: 1152px;
}

.blocoFormPrincipal {
    color: white;
    font-size: 16px;
}

.blocoFormInline {
    width: 571px;
    margin: 10px 5px 10px 0;
    display: inline-block;
}

.blocoFormInline:last-child {
    margin: 10px 0 10px 0;
    border-radius: 1px;
}
   .blocoFormInline input[type="text"], .blocoFormInline input[type="number"], .blocoFormInline input[type="email"], .blocoFormInline input[type="password"] {
    background-color:#ff8c00;
    padding: 5px;
    font-size: 19px;
    border: none;
    width: 561px;
    box-shadow: 1px 1px 1px #8E8E8E;
}

.blocoFormPrincipal textarea {
    background-color: #ff8c00;
    padding: 5px;
    font-size: 16px;
    border: none;
    width: 1142px;
    box-shadow: 1px 1px 1px #8E8E8E;
    height: 200px;
    font-family: 'arial';
}

.blocoFormPrincipal input[type="submit"] {
    cursor: pointer;
    background: #ff8c00;
    color: #fff;
    padding: 5px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #8E8E8E;
    margin: 5px 0 204px 0;
    transition: background 0.3s;
    



